_data
_includes
_layouts
_posts
_sass
assets
about_this_site.markdown
aboutme.markdown
experience.markdown
Gemfile
Gemfile.lock
people.markdown
photography.markdown
places.markdown
phone.markdown
work.markdown
.DS_Store
_config.yml
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
