  <div class="i">
    <a href="http://www.github.com/StefanHig" target="_blank" aria-label="stefan higgins github">
      <span data-icon="ei-sc-github" data-size="s"</span>
    </a>
    <a href="http://www.twitter.com/htmldotyuck" target="_blank" aria-label="stefan higgins twitter">
      <span data-icon="ei-sc-twitter" data-size="s"</span>
    </a>
    <a href="https://www.linkedin.com/in/stefan-higgins-25b8a1221/" target="_blank" aria-label="stefan higgins linkedin">
      <span data-icon="ei-sc-linkedin" data-size="s"</span>
    </a>
    <a href="mailto:stefanachiggins@gmail.com" target="_blank" aria-label="stefan higgins email">
      <span data-icon="ei-envelope" data-size="s"</span>
    </a>
    <a href="/feed.xml" target="_blank" aria-label="stefan higgins rss feed">
      <span data-icon="ei-bell" data-size="s"</span>
    </a>
  </div>
