// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706

html, body { background: #f7ecbb; }
// colour was picked from https://www.mushroomcoloratlas.com/mushroom/boletus_rex_veris
// swatch of the Boletus rex veris mushroom, middle dye preparation square
// colour picked here: https://www.w3schools.com/colors/colors_picker.asp

html { height: 100%; }


header {
  color: #081344;
  font-family: 'Nunito', sans-serif;
  font-size: 55px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .w > header {
    color: #081344;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
  }
}

body {
  color: #081344;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  text-align: left;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 750px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.i {
  max-width: 750px;
  text-align: right;
  margin: 0 auto;
  padding: 4rem 2rem;
}

a:link {
  color: #4866ea;
}

a:visited {
  color: #081344;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table {
  width:75%;
  border-spacing:10px;
  margin:23px
}

th {
  border:3px solid #081344;
  border-radius:4px;
  padding:10px;
  text-align:left
}

td {
  border-collapse:collapse;
  padding-left:10px;
}

@media screen and (max-width: 600px) {
  .w > table {
    margin: -10px;
    padding: 0px;
  }
}

// added CSS for unique highlight colours
::-moz-selection { /* Code for Firefox */
  color: #f7ecbb;
  background: #081344;
}

::selection {
  color: #f7ecbb;
  background: #081344;
}

code {
  color: #f7ecbb;
  background: #081344;
  padding: 0.2rem;
  border-radius: 3px;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 50%;
  display: flex;
  margin: 0 auto;
  border-radius: 95%;
}
